{% extends 'base.html.twig' %}

{% block body %}
    <h1>BaseTax list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for baseTax in baseTaxes %}
            <tr>
                <td><a href="{{ path('basetax_show', { 'id': baseTax.id }) }}">{{ baseTax.id }}</a></td>
                <td>{{ baseTax.amount }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('basetax_show', { 'id': baseTax.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('basetax_edit', { 'id': baseTax.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('basetax_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
